<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="rack_model" params="component_name component_path scale='0.001 0.001 0.001'">
    <xacro:property name="rack_offset" value="-0.16625" />
        <link name="${component_name}">
            <inertial>
                <origin xyz="${rack_offset} 0 0" rpy="0 0 0"/>
                <mass value="5.0"/> <!-- Adjusted mass -->
                <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/> <!-- Adjusted inertia -->
            </inertial>
            <visual>
                <origin xyz="${rack_offset} 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${component_path}" scale="${scale}"/> <!-- Adjustable scale -->
                </geometry>
            </visual>
            <collision>
                <origin xyz="${rack_offset} 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${component_path}" scale="${scale}"/> <!-- Adjustable scale -->
                </geometry>
            </collision>
            <inertial>
                <origin xyz="${rack_offset} 0 0.2" rpy="0 0 0"/>
                <mass value="5.0"/> <!-- Adjusted mass -->
                <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/> <!-- Adjusted inertia -->
            </inertial>
            <visual>
                <origin xyz="${rack_offset} 0 0.2" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${component_path}" scale="${scale}"/> <!-- Adjustable scale -->
                </geometry>
            </visual>
            <collision>
                <origin xyz="${rack_offset} 0 0.2" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${component_path}" scale="${scale}"/> <!-- Adjustable scale -->
                </geometry>
            </collision>
            <inertial>
                <origin xyz="${rack_offset} 0 -0.2" rpy="0 0 0"/>
                <mass value="5.0"/> <!-- Adjusted mass -->
                <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/> <!-- Adjusted inertia -->
            </inertial>
            <visual>
                <origin xyz="${rack_offset} 0 -0.2" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${component_path}" scale="${scale}"/> <!-- Adjustable scale -->
                </geometry>
            </visual>
            <collision>
                <origin xyz="${rack_offset} 0 -0.2" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${component_path}" scale="${scale}"/> <!-- Adjustable scale -->
                </geometry>
            </collision>
        </link>
    </xacro:macro>
</robot>
