<?xml version="1.0"?>
<launch>
  <!-- Gazebo options -->
  <arg name="gazebo_gui" default="true" doc="Start Gazebo GUI"/>
  <arg name="paused" default="false" doc="Start Gazebo paused"/>
  <arg name="world_name" default="worlds/empty.world" doc="Gazebo world file"/>
  <arg name="world_pose" default="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" doc="Pose to spawn the robot at"/>
  <arg name="initial_joint_positions" default=" -J alex_arm_joint_1_alex 0 -J alex_arm_joint_2_alex 0 -J alex_arm_joint_3_alex 0 -J alex_arm_joint_4_alex -0.003 -J alex_arm_joint_5_alex 0 -J alex_arm_joint_6_alex 0 -J coco_arm_joint_6_coco -1.5708 -J coco_joint_link_1_coco -1.5708 -J coco_joint_link_2_coco 0 -J coco_joint_link_3_coco 0 -J coco_joint_link_4_coco 0 -J coco_joint_link_5_coco 0 -J yuzi_arm_joint_1_yuzi 0 -J yuzi_arm_joint_2_yuzi 0 -J yuzi_arm_joint_3_yuzi 0 -J yuzi_arm_joint_4_yuzi 0 -J yuzi_arm_joint_5_yuzi 0 -J yuzi_arm_joint_6_yuzi 0" doc="Initial joint configuration of the robot"/>

  <!-- Start Gazebo paused to allow the controllers to pickup the initial pose -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" pass_all_args="true">
    <arg name="paused" value="true"/>
  </include>

  <!-- Set the robot urdf on the parameter server -->
  <param name="robot_description" textfile="$(find my_robot_urdf)/urdf/robot.urdf" />

  <!-- Unpause the simulation after loading the robot model -->
  <arg name="unpause" value="$(eval '' if arg('paused') else '-unpause')" />

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot $(arg unpause) $(arg world_pose) $(arg initial_joint_positions)"
    respawn="false" output="screen" />

  <!-- Load the controller parameters onto the parameter server -->
  <rosparam file="$(find triple_robot_config)/config/gazebo_controllers.yaml" />
  <include file="$(dirname)/ros_controllers.launch"/>

  <!-- Spawn the Gazebo ROS controllers -->
  <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller" />

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
</launch>
